<%
lots_of_products = Product.includes(:user).all
%>

<h2>Products</h2>

<ul>
	<% lots_of_products.each do |product| %>
		<li>
			<b><%= product.name %></b> <br>
			$<%= product.price %><br>
			Sold by <%= product.user.name %>
			<hr>
		</li>
	<% end %>
</ul>